@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
    max-width: 120rem;
}

/* header content start hear */
header {
    height: 82.625rem;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 30px;
}

nav h1 {
    color: rgb(19, 19, 19);
    font-size: 2.813rem;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
}

.nav-li a {
    color: rgb(66, 66, 66);
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
}

.header {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header h1 {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
}

.header p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 50px;
}

button {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    width: 180px;
    height: 64px;
    border: none;
    margin-bottom: 50px;
    margin-top: 32px;
}

.header-img img {
    height: 100%;
    width: 100%;
}

/* header content ends hear */


/* our features start hear */
.our-features,
.love-enjoy,
.sponspors {
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;
}

.img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.text-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.text-content h1,
.love-enjoy-text h1,
.facts h1,
.sponspors-text h1,
.facts-card h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    color: rgb(114, 114, 114);
}

#color01 {
    color: rgb(19, 19, 19);
}

#color02 {
    color: rgb(255, 144, 14);
}

.text-content p,
.love-enjoy-text p,
.facts p,
.sponspors-text p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 32px;
}

.card {
    width: 586px;
    height: 171px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px 42px;
    margin-bottom: 20px;
}

.card h3 {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

.card p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* our features ends hear */

/* love-enjoy section start hear */
.love-enjoy {
    margin-top: 130px;
    gap: 160px;
}

.love-enjoy-text h1 {
    color: rgb(19, 19, 19);
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
}

.sister-img {
    position: relative;
}

.img-card {
    position: absolute;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 342px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -92px;
    margin-top: -115px;
    z-index: 100;
}

.img-card h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.img-card p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

/* love-enjoy section ends hear */

/* some facts section start hear */
.facts {
    display: flex;
    flex-direction: column;
    width: 90rem;
    margin: 0 auto;
    margin-top: 207px;
    margin-bottom: 180px;
}

.fact-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.fact-text h1 {
    color: rgb(19, 19, 19);
}

.facts-card-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.facts-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    margin-left: 50px;

}

.facts-card h2 {
    color: rgb(66, 66, 66);
}

.facts-card p {
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}

/* some facts section ends hear */

/* sponspors section start hear */
.sponspors {
    flex-direction: column;
    margin-bottom: 146px;
}

.sponspors-text h1 {
    text-align: center;
    color: rgb(19, 19, 19);
}

.sponspors-text p {
    text-align: center;
    margin-bottom: 50px;
}

.sponspors-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 158px;
}

.sponspors-img img {
    filter: grayscale(100%);
}

.sponspors-img img:hover {
    filter: grayscale(0%);
}

/* sponspors section ends hear */

/* footer section start hear */
footer {
    margin: 0 auto;
    margin-bottom: 216px;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: rgb(255, 244, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}
/* footer section ends hear */

/* Mobile screen start hear */
@media screen and (max-width: 480px) {

    .none,
    .brack,
    .nav-li {
        display: none;
    }

    header {
        height: auto;
        padding-bottom: 15px;
        padding: 5px;
    }

    .header h1 {
        font-size: 40px;
    }

    .our-features,
    .love-enjoy {
        flex-direction: column;
    }

    .img-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .text-content,
    .text-content h1,
    .text-content p {
        text-align: center;
        align-items: center;
        padding: 5px;
    }

    .love-enjoy-text {
        padding: 10px;
    }

    .love-enjoy-img img,
    .card {
        width: 100%;
        height: 100%;
    }

    .facts {
        width: auto;
    }

    .facts-card-content,
    .sponspors-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-text {
        width: 100%;
        text-align: center;
        align-items: center;
        /* justify-content: center; */
    }

    .fact-text p {
        width: 90%;
        text-align: center;
    }

    .facts-card-content {
        gap: 124px;
    }

    .sponspors-img img {
        display: grid;

    }

    .sponspors-text {
        width: 100%;
        padding: 10px;
    }
    footer{
        width: 100%;
        margin-bottom: 20px;
    }

}

/* Mobile screen ends hear */